<h2>Welcome to The Company</h2>
<h4>Select your user type:</h4>

<a href="/hr-home">
  <button type="button" id="hr">HR</button>
</a>
<a href="/pm-home">
  <button type="submit" id="pm">PM</button>
</a>
