<!DOCTYPE html>
<html>
  <head>
    <title>Employee Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="header jumbotron">
      <h1>Employee Tracker</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
